<div class="image-container">
    <div class="overlay"></div>
    <div class="overlay-text">
        <p class="main-text">Todas las categorías</p>
        <p class="sub-text">Elegí tu categoría favorita</p>
    </div>
</div>

<div class="image-grid">
    <div 
        class="image-item" 
        data-name="Arroces" 
        (click)="buscarCategoria('rice')"></div>
    <div 
        class="image-item" 
        data-name="Bebidas y Cócteles" 
        (click)="buscarCategoria('drink')"></div>
    <div 
        class="image-item" 
        data-name="Carnes" 
        (click)="buscarCategoria('meat')"></div>
    <div 
        class="image-item"  
        data-name="Dulces"
        (click)="buscarCategoria('candy')"></div>
    <div 
        class="image-item" 
        data-name="Ensaladas"
        (click)="buscarCategoria('salad')"></div>
    <div 
        class="image-item" 
        data-name="Frutales"
        (click)="buscarCategoria('fruit')"></div>
    <div 
        class="image-item" 
        data-name="Guarniciones"
        (click)="buscarCategoria('rice')"></div>
    <div 
        class="image-item" 
        data-name="Helados"
        (click)="buscarCategoria('icecream')"></div>
    <div 
        class="image-item" 
        data-name="Legumbres"
        (click)="buscarCategoria('rice')"></div>
    <div 
        class="image-item" 
        data-name="Mariscos"
        (click)="buscarCategoria('rice')"></div>
    <div 
        class="image-item" 
        data-name="Panes"
        (click)="buscarCategoria('bread')"></div>
    <div 
        class="image-item" 
        data-name="Pastas"
        (click)="buscarCategoria('pasta')"></div>
</div>

<!-- Contenedor donde se mostrarán las recetas -->
<div id="recipes-container"></div>

