<div class="image-container">
    <div class="overlay"></div>
    <div class="overlay-text">
      <p class="main-text">Estas son tus preferencias</p>
    </div>
  </div>
  

  <div class="container">
    <div class="row justify-content-center">
      <!-- Columna Dieta -->
      <div class="col-md-5">
        <div class="column">
          <h3>Dieta</h3>
          @for(item of dietas; track item.name) {
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                [id]="item.name"
                [checked]="item.selected"
                (change)="onCheckboxChange($event, item)">
            <label class="form-check-label" [for]="item.name">
              {{ item.name }}
              </label>
            </div>
          }
        </div>
      </div>
  
      <!-- Columna Intolerancia -->
      <div class="col-md-5">
        <div class="column">
          <h3>Intolerancia</h3>
          @for(item of intolerancias; track item.name) {
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                [id]="item.name"
                [checked]="item.selected"
                (change)="onCheckboxChange($event, item)">
            <label class="form-check-label" [for]="item.name">
              {{ item.name }}
              </label>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  

  <!--
  <div class="container">
    <div class="row justify-content-center">
      <!-- Columna Dieta 
      <div class="col-md-5">
        <div class="column">
          <h3>Dieta</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ovolacteovegetariano">
            <label class="form-check-label" for="ovolacteovegetariano">
              Ovolacteovegetariano
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="vegano">
            <label class="form-check-label" for="vegano">
              Vegano
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="vegetariano">
            <label class="form-check-label" for="vegetariano">
              Vegetariano
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="keto">
            <label class="form-check-label" for="keto">
              Keto
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="paleo">
            <label class="form-check-label" for="paleo">
              Paleo
            </label>
          </div>
        </div>
      </div>
  
      <!-- Columna Intolerancia
      <div class="col-md-5">
        <div class="column">
          <h3>Intolerancia</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gluten">
            <label class="form-check-label" for="gluten">
              Gluten
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="lactosa">
            <label class="form-check-label" for="lactosa">
              Lactosa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="soja">
            <label class="form-check-label" for="soja">
              Soja
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="mariscos">
            <label class="form-check-label" for="mariscos">
              Mariscos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="frutos_secos">
            <label class="form-check-label" for="frutos_secos">
              Frutos secos
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
-->